#root {

  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

main {
  display:flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;  /* Garante que as imagens não quebrem no Rodapé*/
}


