#root {

  margin: 0 auto;
  padding: 0;
  text-align: center;
  width: 100%;
}

main {
  display:flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;  /* Garante que as imagens não quebrem no Rodapé*/
}

/* PÁGINA APARELHOS --------------------------------------------- */

.aparelhos{
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding: 20px;
  background: linear-gradient( to top left, rgb(141, 141, 141), rgb(202, 202, 202));
  border-radius: 20px;
  box-shadow: 1px 1px 1px 1px black;
  font-size: 1.4em;
}



.img-aparelho{
    width: 100%;
    height: 300px;
    object-fit: contain;
    margin-bottom: 20px;
    
}

.bloco-aparelhos {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Separa os produtos em colunas */
  gap: 20px; /* O espaço entre os produtos com o grid */
}

